server:
  port: 8092

spring:
  datasource:
    url: jdbc:h2:mem:hotels;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    #drop-first: true
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  h2:
    console:
      enabled: true
      path: /h2-console
